.alert-box {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    text-align: center;
    min-width: 250px;
}

.alert-box.success {
    background-color: #4caf50; /* Green */
}

.alert-box.error {
    background-color: #f44336; /* Red */
}
